@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3> <font color="blue">:</font><font color="orange">up</font><font color="blue">d8 - Seu Parceiro Multicloud</font></h3>
     <img src="/Image/logo.png" />
     <p>Combine o uso dos serviços de nuvem e obtenha melhores resultados. Multicloud é realidade: Fale com a :upd8 e saiba como incorporar esta estratégia e transforme seu negócio.</p>
</div>
